.container {
    display: flex;
    flex-direction: row;

}

.col {
    flex: auto;
    margin: 5%;
}
h1  {
    text-align: center;
    font-family: 'Istok Web', sans-serif, bold;
    padding-bottom: 30px;
    margin-top: 25px;
}

img {
    width: 400px;
    height: 400px;
}

body {
    background-color:  #99e6e6;
    font-family: 'Istok Web', sans-serif;
}

#bottom_container {
    
    
}