
#headline {
    text-align: center;
    font-family: 'Istok Web', sans-serif, bold;
    padding-bottom: 30px;
    margin-top: 25px;
}



.mainbody {
    background-color:  #99e6e6;
    font-family: 'Istok Web', sans-serif;
    background-image: url(img/damiano-baschiera-d4feocYfzAM-unsplash.jpg);
    background-size: cover;
}

video {
    object-fit: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.landing-search {
    width: 22vw;
    margin-top: -25%;
    position: relative;
}

.landing-headline {
    margin-right: -18%;
    position: relative;
    margin-top: -32%;
    text-align: center;
    font-family: 'Asap Condensed', sans-serif;
    color: #a6dcef;
}

.card {
    background-color: #aacfcf;
}

#search-box {
    width: 10vw;
}

#middle-row {

}

#bottom-row-main {
    padding-top: 75px;
}

#top-row {
    margin-top: 30px;
}

#search-box-container {
    
    padding-left: 250px;
    padding-top: 25px;
}

#current-results-card {
    width: 300px;
}

#city-details {
    padding-left: 250px;
}

.more-spacing {
    padding-bottom: 40px;
}

.fontfun {
    font-size: 8rem;
}

#search-button {
    background-color: #aacfcf;
    color: #212529;
    font-family: 'Istok Web', sans-serif;
}